/* CSS for Home component */
/* ---------------------- */

/* Image Loading Section */
@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.rotating_image {
    animation: spin 1s linear infinite;
}

.fade_in {
    opacity: 0;
    animation: fadeIn 0.4s ease-in-out forwards;
    will-change: opacity;
}

/* General Section */
#home_page_container {
    display: flex;
    justify-content: center;
    margin-left: -20px;
}

#home_page {
    display: flex;
    margin-top: 1.75rem;
    width: 60%;
    min-width: 525px;
}

#home_page_content {
    margin-right: 1.5rem;
    width: 260px;
    padding-right: 45px;
}

#cover_image {
    width: 50%;
    max-height: 550px;
    object-fit: contain;
    margin-right: 1.5rem;
}