<div id="navbar">
    <div id="navbar_content">
        <a href="/" ><img id="logo" src="{{ url_for('static', filename='Assets/w2sz-logo-white.png') }}" alt="W2SZ Logo"/></a>
        <ul id="navigation_items">
            <li class="navigation_item"><a class="navigation_item_text" href="/">Home</a></li>
            <li class="navigation_item"><a class="navigation_item_text" href="/posts">Posts</a></li>
            <li class="navigation_item"><a class="navigation_item_text" href="https://wiki.w2sz.org">Wiki</a></li>
            <li class="navigation_item"><a class="navigation_item_text" href="/gallery">Gallery</a></li>
            <li class="navigation_item"><a class="navigation_item_text" href="/logs">Logbook</a></li>
            <li class="navigation_item"><a class="navigation_item_text" href="/donate">Donate</a></li>
        </ul>
    </div>
</div>
