body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Inter, 'Noto Sans SC', helvetica, arial;
}

body, h1 {
    margin: 0;
}

body, html {
    display: flex;
    flex-direction: column;
    height: 100%
}

a {
    text-decoration: none;
}

#navbar {
    border-color: #FFFFFF;
    border-width: 0 0 1px;
    border-style: solid;
}

#navbar_content {
    margin-bottom: 8px;
    display: flex;
}

#navbar_content {
    margin-left: 8px;
    padding-top: 8px;
}

#left_banner {
    width: 250px;
    height: 100%;
    border-color: #FFFFFF;
    border-width: 0 1px 0 0;
    border-style: solid;
}

#left_banner_content_lower {
    position: absolute;
    bottom: 0;
}

#logo {
    width: 170px;
    padding-left: 25px;
}

#solar_data {
    padding-left: 39.5px;
}

#navigation_items, #left_navigation_items {
    list-style: none;
}

#left_navigation_items {
    padding-left: 0;
    width: 100%;
    margin-top: 24px;
}

#navigation_items {
    padding-left: 84px;
    align-content: center;
}

.navigation_item {
    display: inline;
    padding-right: 75px;
}

.left_navigation_item {
    text-align: center;
    padding-bottom: 28px;
}

/* Help from: https://stackoverflow.com/questions/20544309/css-sliding-underline */
.navigation_item_text {
    color: #FFFFFF;
    font-size: 1.3em;
    background-image: linear-gradient(#AAAAAA, #AAAAAA);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size .6s ease, background-color .6s ease;
}

.navigation_item_text:hover,
.navigation_item_text:focus,
.navigation_item_text:active {
    background-size: 100% 0.1em;
}
