<!DOCTYPE html>
<html>
    <head>
        {% include 'includes/head.html' %}
        <title>About W2SZ</title>
    </head>
    <body>
        {% include 'includes/navbar.html' %}
        <div id="page">
            {% include 'includes/left_banner-start.html' %}
            {% include 'includes/left_banner-home.html' %}
            {% include 'includes/left_banner-end.html' %}
            
            <div id="page_content">
                <h1>About W2SZ</h1>
                <img src="{{ url_for('static', filename='images/W2SZ_sage_lab.jpeg') }}" alt="Radiophone WHAZ Antenna Setup on the Roof of Sage Laboratory">
                <p>Since 1911, W2SZ has been a place where students enjoy the challenges and satisfaction of Amateur Radio. Whether you would like to build radios, climb towers, send data over the air, bounce signals off the moon, send Morse code overseas, participate in contests, hike up mountains and look for radio signals, or just “hang out” on the repeater in the evenings, this is the club for you.</p>
                <h2>Ham Radio</h2>
                <p>The FCC restructuring has made it easier to become an amateur radio operator. Ham radio is an enjoyable and long-lasting hobby with many clubs and repeaters for all levels of operators. Hams also provide vital communication services during emergencies.</p>
                <p>W2SZ offers training, leadership, and learning opportunities for those interested in ham radio, with flexible time commitment for students. The club provides equipment, allowing exploration of the hobby without a financial burden.</p>
                <h2>MGEF W2SZ/1</h2>
                <p>MGEF stands for Mount Greylock Expeditionary Force, a team of amateur radio operators from across the United States who gather at the summit of Mount Greylock, Massachusetts every June, August, and September to participate in a four-day operation. They mount a full 15-band effort, including frequencies ranging from 6m to 145GHz and light. The group is open to anyone with a willingness to work hard and be a team player. They have a rich history and offer various VUCC awards to their participants.</p>
                <p class="subtext">Read more about <a href="/mgef">MGEF</a></p>
                <h2>History</h2>
                <p>Rensselaer’s Amateur Radio Club was founded in 1911 as the Troy Wireless Club. The club moved onto Rensselaer’s campus in 1924 and was re-established by former student member Leonard S. Inskip ‘22 and Harry R. Mimno. In the early years, the club’s main goal was to test the limits of the new technology and make long-distance contacts with foreign stations.</p>
                <img src="{{ url_for('static', filename='Assets/arrl-affiliated-club-150x150.jpeg') }}" alt="ARRL Logo">
                <p>W2SZ became an ARRL Affiliated Club since November 20, 1951, the 33rd in the Eastern New York section and the 3rd school club in the section.</p>
                <p class="subtext">Read more about the <a href="">history</a> and <a href="">constitution</a> of W2SZ</p>
            </div>
        </div>
    </body>
</html>
