<!DOCTYPE html>
<html>
    <head>
        {% include 'includes/head.html' %}
        <title>W2SZ Homepage</title>
    </head>
    <body>
        {% include 'includes/navbar.html' %}
        {% include 'includes/left_banner-start.html' %}
        <ul id="left_navigation_items">
            <li class="left_navigation_item"><a class="navigation_item_text" href="/officers">Contact</a></li>
            <li class="left_navigation_item"><a class="navigation_item_text" href="/about">About</a></li>
            <li class="left_navigation_item"><a class="navigation_item_text" href="/mgef">MGEF</a></li>
        </ul>
        {% include 'includes/left_banner-end.html' %}
    </body>
</html>
