/* CSS for Home component */
@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.rotating_image {
    animation: spin 1s linear infinite;
}

.fade_in {
    opacity: 0;
    animation: fadeIn 0.4s ease-in-out forwards;
    will-change: opacity;
}